<nav th:fragment="sidenav" class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
	<div class="sb-sidenav-menu">
		<div class="nav">
			<div class="sb-sidenav-menu-heading">Home</div>
			<a class="nav-link" th:href="@{/user/home}">
				<div class="sb-nav-link-icon">
					<i class="fas fa-tachometer-alt"></i>
				</div> Dashboard
			</a>
			<div class="sb-sidenav-menu-heading">Settings</div>
			<a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseAccount" aria-expanded="false" aria-controls="collapseLayouts">
				<div class="sb-nav-link-icon">
					<i class="fas fa-user-cog"></i>
				</div> Account
				<div class="sb-sidenav-collapse-arrow">
					<i class="fas fa-angle-down"></i>
				</div>
			</a>
			<div class="collapse" id="collapseAccount" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
				<nav class="sb-sidenav-menu-nested nav">
					<a class="nav-link" th:href="@{/user/account/settings}">Account settings</a> <a class="nav-link" th:href="@{/user/password/change}">Change password</a>
				</nav>
			</div>


			<div class="sb-sidenav-menu-heading">Actions</div>
			 <a class="nav-link" href="#" onclick="showLogoutConfirm()">
				<div class="sb-nav-link-icon">
					<i class="fas fa-sign-out"></i>
				</div> Log-Out
			</a>
		</div>
	</div>
	<div class="sb-sidenav-footer">
		<div class="row align-items-center">

			<!-- Fallback Icon if no image -->
			<div th:unless="${session.user.image}" class="col-auto d-flex align-items-center justify-content-center" th:classappend="${session.user.role.textColorClass}">
				<i class="fa-2x" th:classappend="${session.user.role.iconClass}"></i>
			</div>

			<!-- Profile Image -->
			<div th:if="${session.user.image}" class="col-auto d-flex align-items-center">
				<img th:src="@{'/user/profile-image/' + ${session.user.id}}" class="rounded-circle" style="width: 40px; height: 40px; object-fit: cover;">
			</div>

			<!-- User Info -->
			<div class="col p-0" style="max-width: 150px;">
				<div class="text-truncate">[[${session.user.fullName}]]</div>
				<div class="small text-truncate">[[${session.user.email}]]</div>
			</div>
		</div>


	</div>


	<script>
  function showLogoutConfirm() {
    Swal.fire({
      title: 'Are you sure?',
      text: "You want to log out?",
      icon: 'question',
      showCancelButton: true,
      confirmButtonText: 'Yes, logout!',
      cancelButtonText: 'No, stay logged in',
      reverseButtons: true
    }).then((result) => {
      if (result.isConfirmed) {
        // Perform logout action here (e.g., redirect, clear session, etc.)
        window.location.href = contextPath+'/logout'; // Replace with your logout URL or logic
      }
    });
  }
</script>







</nav>