<!DOCTYPE html>
<html lang="en">
<head>
<th:block th:insert="~{theme/upper :: headLinks}"></th:block>
<title>Account settings</title>
</head>
<body>
	<div id="layoutError">
		<div id="layoutError_content">
			<main>
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-lg-6">
							<div class="text-center mt-4">
								<h1 class="error mx-auto" th:data-text="${statusCode}">[[${statusCode}]]</h1>
								<p class="lead">[[${errorTitle}]]</p>
								<p>[[${errorMessage}]]</p>
								
								
								<div class="d-flex justify-content-center align-items-center">
								    
								    
								    <ol class="breadcrumb mb-4 pb-3">
								        
								    </ol>
								</div>

								
                                    
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
        <div th:replace="~{theme/lower :: footerlinks}"></div>
    </body>
</html>
